body {
	color: #FFFFFF;
	margin: 0px;
	text-align: center;
 	font-family: 'Roboto', sans-serif;
}

.title {
	padding-top: 6rem;
	font-weight: bold;
	font-size: 1.8rem;
}

.lower-title {
	padding-bottom: .35rem;
}

.nav-input {
	height: 2rem;
	width: 16.81rem;
	color: #FF0099;
	margin-top: 1.18rem;
	margin-bottom: 1.18rem;
	margin-right: 2rem;
	border-radius: 0.56rem;
	background-color: #FFFFFF;
	padding-right: 1.125rem;
	padding-left: 1.125rem;
	font-size: 1.125rem;
}

.nav-button {
	font-weight: bold;
	height: 2rem;
	width: 4.81rem;
	color: #FFFFFF;
	margin-top: 1.18rem;
	margin-bottom: 1.18rem;
	margin-right: 2rem;
	border-radius: 0.56rem;
	background-color: #FF0099;
	padding-right: 1.125rem;
	padding-left: 1.125rem;
	font-size: 1.125rem;
}



::placeholder {
	color: #FF0099;
}

.navigation-bar {
	background-color: #3F3F3F;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-logo {
	height: 4.56rem;
	width: 6rem;
}


.hide-class {
	visibility: hidden;
}

.show-class {
	visibility: visible;
}

.container {
	height: 90vh;
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

.category-link:link {
  text-decoration: none;
  font-size: 1.125rem;
  color: #3F3F3F;
  cursor: pointer;
}

.category-title {
  font-size: 1.125rem;
  color: #3F3F3F;
}

.cat-box {
	display: flex;
	min-height: 28.6rem;
	flex-direction: column;
	justify-content: space-around;
}

